.home{
    width: 100%;
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-rows: 15% auto;
    grid-template-columns: 50% auto;
    grid-template-areas: "a a"
                         "b c";

}
.top{
    width: 100%;

    grid-area: a;
    /* border: 1px solid black; */

}
.navbar{
    background-color: #e3f2fd;

}
.left{
    grid-area: b;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}
.right{
    grid-area: c;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49vw;
    border-left: black 1px solid;




}